 body {
  font-size: 14px;
 }
#openingtimes table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }

  .container {
    position: relative;
    padding: 10px; 
  }

  .navbar-brand {
    height:auto !important ;
  }

  header i{
    font-size:27px;
    color: white;
  }

 .headercontact{
  float: right ;
  width: 100px ;
 }

 .headerright{
  float:left ;
  width: calc(100% - 100px - 100px); 
 }

 .navbar-brand {
  margin-left: 0px;
  width: 100px; 
  margin-left: 0px;
 }

 .headerrighticon {
  width:50% ;
  text-align: center;
  display: inline-block;
  float: left;
 }


 .navbar-expand-sm .navbar-collapse {
  justify-content: center; 
  padding-right: 0px;
}


.navbar-brand{
  margin-left: 4% !important;
}

 
.navbar-nav>li a {
  margin-right: 10px;
}


p {
  font-size: 20px;
}

h1 {
  font-size: 40px
}

 








