 
#openingtimes table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }

  
  .container {
    position: fixed; /* or 'absolute' */
    top: 0;
    right: 0;
    padding: 10px; /* Adjusts space around the logo */
  }